.todo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  background-color: #D4D4D4;
  border: 1px solid #F2F2F2;
  color: #181818;
  border-radius: 10px;
  align-items: center;
  h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  }
